<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YT Downloader</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Downloader Tool</h1>
        <img class="avatar" src="img/racoonWizard.jpg" />
        <p>Hi! I'm just a simple tool to download some content from YouTube</p>
        <p>
          You just need to paste the URL of the video or playlist that you want
          to download. <br />
          You can choose the format between Video / Audio <br />
          and don't forget to check the box if you're downloading a playlist 😉
        </p>
      </div>

      <div class="form">
        <form action="download_url" method="POST">
          <input
            class="form-text"
            type="text"
            name="url"
            placeholder="Paste your link here!"
            required="true"
          />

          <label for="format">Format:</label>
          <select
            class="form-buttons"
            name="format"
            id="format"
            required="true"
          >
            <option value="video">Video</option>
            <option value="audio">Audio</option>
          </select>

          <select
            class="form-buttons"
            name="video_quality"
            id="video_quality"
            required="true"
          >
            <option value="best">Best</option>
            <option value="1080">1080p</option>
            <option value="720">720p</option>
            <option value="480">480p</option>
          </select>

          <label for="isPlaylist">¿Playlist?</label>
          <input type="checkbox" name="isPlaylist" value="true" />
          <button class="form-buttons submit-btn" type="submit" id="submit-btn">
            Download!
          </button>
        </form>
      </div>

      <div></div>
    </div>

    <footer>
      Made with love by
      <a href="https://www.github.com/jose-yanes" target="_blank">Jose Yanes</a>
      🇺🇾
    </footer>
    <script src="index.js" defer></script>
  </body>
</html>
